beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
fake-useragent==0.1.11
idna==2.10
lxml==4.6.2
numpy==1.19.5
pandas==1.2.1
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
simplejson==3.17.2
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.22
tushare==1.2.62
urllib3==1.26.2
websocket-client==0.57.0
